html{
    font-size: 16px;
}

body{
    width: 500px;
    margin: 5% auto;
    letter-spacing: 5px;
    font-size: 1.8em;
    font-family: 'Heebo', sans-serif;
}

.container{
    background-color: #635f5a;
    border-radius: 20px;
}

.calculator{
    padding: 20px 20px 20px 23px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    height: 500px;
    border-radius: 20px;
}

.input{
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 1px;
    height: 60px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: right;
    margin-right: 6px;
    font-size: 1.5em;
    overflow-x: auto;
    /*fade in inset shadow*/
    transition: all .2s ease-in-out       
}

.input:hover{
    border: 1px solid #bbb;
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.buttons{}

.operators{}

.operators div{
    display: inline-block;
    border: 1px solid #bbb;
    border-radius: 1px;
    width: 79px;
    text-align: center;
    padding: 10px;
    margin: 20px 4px 10px 0;
    cursor: pointer;
    background-color: #ddd;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

/*styles button when clicked*/
.operators div:hover{
    border: 1px solid #ddd;
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #aaa;
}

/*styles button when clicked*/
.operators div:active{
    font-weight: bold;
}

.inline-block{
    display: inline-block;
}

.numbers div{
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 1px;
    width: 79px;
    text-align: center;
    padding: 10px;
    margin: 10px 4px 10px 0;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

/*styles button when clicked*/
.numbers div:hover{
    background-color: #f1f1f1;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

/*styles button when clicked*/
.numbers div:active{
    font-weight: bold;
}

div .equal{
    display: inline-block;
    border: 1px solid #ed811c;
    border-radius: 1px;
    width: 17%;
    text-align: center;
    padding: 136px 10px;
    margin: -326px 6px 10px 350px;
    vertical-align: top;
    cursor: pointer;
    color: #FFF;
    background-color: #f58822;
    transition: all .2s ease-in-out;
}

div .equal:hover{
    background-color: #ed811c;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #e37610;
}

div .equal:active{  
    font-weight: bold;
}